* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
/*
#aboutme, #skillsage, #contactpage {
  height: 100vh;
}*/

#homepage {
  text-align: center;
}

div {
    display: block;
}

ol, ul {
    list-style: none;
}

ul {
    display: block;
    list-style-type: disc;
    margin-block-start: .5em;
    margin-block-end: .5em;
    /*margin-inline-start: 100px;
    margin-inline-end: 100px;
    padding-inline-start: 100px;*/
}

#header-container .header .nav ul li {
    display: inline-block;
    zoom: 1;
    padding: 0 75px;
 }

#header-container .header .nav ul {
    position: relative;
    zoom: 1;
    text-align: center;
}

#header-container .header .nav ul a {
    color: #567;
    /*text-transform: uppercase;*/
    text-decoration: none;
    text-decoration-line: none;
    text-decoration-style: initial;
    text-decoration-color: initial;
    display: block;
    font-size: 100%;
    font-weight: 500;
    padding: 5px 0;
    /*background: green*/
    ;
}

#header-container {
    width: 100%;
    position: fixed;
    z-index: 210;
    background: #002147;
    box-shadow: 0 1px 3px rgba(0,0,0,.4);
    border-bottom: 1px solid #bbb\9;
    -webkit-perspective: 1000;
    -webkit-backface-visibility: hidden;
}

.s-font-body {
	color: white;
	/*font-family: 'Montserrat', sans-serif;*/
	font-family: 'Candara', cursive;
}

h1 {
    font-family: 'Sacramento', cursive;
    text-align: center;
    font-size: 120px;
    z-index: -1;
    position: relative;
    overflow: hidden; 
    /*color: white;*/
    color: #002147;
}

h1:before, h1:after {
    content: "~";
    width: 25%;
    height: 3px;
    background-color: #002147;
    position: absolute;
    top: 50%;
    overflow: hidden;
}

h1:before {
    margin-left: -25%;
    text-align: right;
}

/*h4 {
  font-family: 'Playfair Display', serif;
}
*/
/*#mytitle {
  font-size: 45px !important;

}*/

h1 {
    background-repeat: no-repeat;
    background-size: cover;
    background-color: transparent;
    background-position: 50% 50%;
    padding-top: 40px;
    padding-bottom: 50px;
    min-height: 0px;
}  

#header-container .header .nav ul li a,
#header-container .header .nav ul li a:after,
#header-container .header .nav ul li a:before {
  transition: all .5s;
}

nav ul li a:hover,
#header-container .header .nav ul a:hover  {
  color: yellow;
}


/* stroke */
nav.stroke ul li a, #header-container .header .nav ul a{
  position: relative;
}
nav.stroke ul li a:after, 
#header-container .header .nav ul a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;   
  background: lightblue; /*underline sa ilalim*/
  height: 1px;
}
nav.stroke ul li a:hover:after,
#header-container .header .nav ul a:hover:after {
  width: 100%;
}

#header-container .header .nav ul li a {
  display: block;
  /*padding: 15px;*/
  text-decoration: none;
  color: blue;
  /*font-weight: 800;*/
  text-transform: uppercase;
  margin: 0 10px;
}


/* NAVIGATION */
nav {
  /*width: 80%;*/
  margin: 0 auto;
  background: blue;
  padding: 50px 0;
  box-shadow: 0px 5px 0px pink;
}
nav ul {
  list-style: none;
  text-align: center;
      position: fixed;
    z-index: 500;
}
nav ul li {
  display: inline-block;

  /*position: fixed;*/
    /*z-index: 210;*/
}
nav ul li a {
  display: block;
  padding: 15px;
  text-decoration: none;
  color: blue;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 10px;
}

nav ul li a,
nav ul li a:after,
nav ul li a:before {
  transition: all .5s;
}
#header-container .header .nav ul li a:hover {
  color: pink;
}


/* stroke */
nav.stroke ul li a{
  position: relative;
}
nav.stroke ul li a:after{
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 0%;
  content: '.';
  color: transparent;
  background: green; /*underline sa ilalim*/
  height: 1px;
}

#header-container .header .nav ul li a:hover:after {
  width: 100%;
}


/*.container::after, .row::after {
    content: "";
    clear: both;
    display: table;
    align-items: center;
} */       

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    margin: 50px 100px 0px 100px;
    border-style: groove;
    border: 10px;
    /*height: 100vh;*/
}

.wholecard, .card {
    background-color: white;
    text-align: center;
    /*margin-bottom: 40px;*/
    /*float: left;*/
}


/*.pic-and-caption {
    align-items: center;
}*/

/*h2 {
    text-align: center;
    font-family: 'Candara', cursive;
    font-size: 35px;
    color: green;
}*/

.center, .img-top {
    text-align: center;
}

.center, .img-top {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 80px;
}


/*.pic-and-caption {
        position: relative;
        display: inline-block;
    }*/

/*   .pic-and-caption .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }*/

/*    .pic-and-caption:hover .img-top {
        display: inline;
    }*/

/* .container {
    text-align: center;
} */

/*.center:hover, .img-top:hover {
    opacity: 0.3;
    background-color: white;
    align-items: center;
    border-radius: 80px;
}*/

    .pic-and-caption {
        position: relative;
        display: inline-block;
    }
    .pic-and-caption .img-top {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 99;
    }
    .pic-and-caption:hover .img-top {
        display: inline;
    }

.row::after {
    content: "";
    clear: both;
    display: table;
    align-items: center;
}        


p {
    font-size: 15px;    
    font-family: 'Candara', cursive;
    /*font-family: 'Gayathri', sans-serif;*/
    margin-left: 5%;
    margin-right: 5%;
    /*text-align: left;*/
    text-align: center;
    color: #002147;
    /*color: white;*/
}

h2{
    text-align: center;
    font-family: 'Candara', cursive;
    font-size: 35px;
    /*color: white;*/
    color: green;
}

h3{
    text-align: center;
    font-family: 'Candara', cursive;
    font-size: 25px;
    /*color: white;*/
    color: #002147;
}

/*skills*/
.currentskills {
  /*padding: 1em 0;*/
  float: left;
   /*text-align: center;*/
  /*width: 50%;*/
}

.container_currentskills {
  /*padding: 1em 0;*/
  float: left;
   /*text-align: center;*/
  /*width: 50%;*/
}

/*h3{
    text-align: center;
    font-family: 'Candara', cursive;*/
    /*font-size: 14px !important;*/
    /*color: white;*/
/*    color: green;
}
*/

/*@media screen and (max-width: 640px){
  .containerskills{
    display: block;
    width: 100%;
  }
}

@media screen and (min-width: 900px){
  .containerskills{
    width: 33.33333%;
  }
}*/

#containerskills .title{
  color: #1a1a1a;
  text-align: center;
  /*margin-bottom: 10px;*/
}

.content {
  position: relative;
  /*width: 90%;*/
  /*max-width: 400px;*/
  /*margin: auto;*/
  overflow: hidden;
}

.content .content-overlay {
  background: rgba(0,0,0,0.7);
  position: absolute;
  /*height: 99%;*/
  /*width: 100%;*/
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  opacity: 0;
  -webkit-transition: all 0.4s ease-in-out 0s;
  -moz-transition: all 0.4s ease-in-out 0s;
  transition: all 0.4s ease-in-out 0s;
}

.content:hover .content-overlay{
  opacity: 1;
}

/*.content-image{
  width: 100%;
}*/

.content-details {
  position: absolute;
  text-align: center;
  padding-left: 1em;
  padding-right: 1em;
  /*width: 100%;*/
  top: 50%;
  left: 50%;
  opacity: 0;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: all 0.3s ease-in-out 0s;
  -moz-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.content:hover .content-details{
  top: 50%;
  left: 50%;
  opacity: 1;
}

.content-details h3{
  color: #fff;
  font-weight: 500;
  letter-spacing: 0.15em;
  margin-bottom: 0.5em;
  text-transform: uppercase;
}

.content-details p{
  color: #fff;
  font-size: 0.8em;
}

.fadeIn-top{
  top: 20%;
}

a {
    text-decoration: none;
    /*font-family: 'Raleway', sans-serif;*/
}

#social_media {
     display: inline;
     /*background-color: gray;*/
}

/*contact*/
.form-group {
  font-family: 'Candara', cursive;
    text-align: left !important;
}

fieldset {
  display: block;
  margin-left: 25%;
  margin-right: 25%;
  padding-top: 0.35em;
  padding-bottom: 0.625em;
  padding-left: 0.75em;
  padding-right: 0.75em;
  border: 2px groove (internal value);
  /*background-color: gray;*/
}

legend {
  font-family: 'Candara', cursive;
  color: #002147;
}

label {
  align-items: left;
   font-family: 'Candara', cursive;
}

input[type=text], select {
  width: 100%;
  padding: 10px 10px;
  margin: 5px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 100%;
  background-color: #002147 ;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color:  #002147;
  opacity: 0.3;
}